@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-150px * 18))
	}
}
@media (min-width: 1024px) {

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-450px * 18))
	}
}}

.slider {
	height: 200px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;

	/* for large screens */
	@media (min-width: 1024px) {
		height: 200px;
	}

	.slidetrack {
		animation: scroll 120s linear infinite;
		display: flex;
		width: calc(250px * 12);

		/* for large screens */
		@media (min-width: 1024px) {
			width: calc(530px * 18);
		}

	}

	.slide {
		padding: 5px;
		background-color: white;
		height: 100px;
		/* width: 250px; */
		display: flex;
		justify-content: center;

		/* for large screens */
		@media (min-width: 1024px) {
			padding: 10px;
			background-color: white;
			height: 200px;
			width: max-content
		}
	}

	.slide img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		mix-blend-mode: darken;
	}
}