

.slidingImages img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.slidingImages img.active {
  opacity: 1;
}
