@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: #fff;
  --bg: #1d0027;
  --accent: #f8e6d0;
  --accent-yellow: #ffed00;

  --length: min(1rem, 3.086049543676662vw);
}

body {
  font-size: var(--length);
  background-color: var(--bg);
  color: var(--fg);
}

a:hover {
  text-decoration: underline var(--accent-yellow);
}

nav {
  max-width: 1440px;
}

.container {
  max-width: 1440px;
}

b {
  font-weight: 600;
}

::selection {
  background-color: #ffcc00;
  color: #000000;
}

::-webkit-selection {
  background-color: #ffcc00;
  color: #000000;
}

::-moz-selection {
  background-color: #ffcc00;
  color: #000000;
}
